<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>The Library</title>
  </head>
  <body>
    <div class="container">
      <h1>Books</h1>
      <hr />
      <h2>Add a New Book maybe..</h2>
      <form action="/Librarian/Book" method="post">
        <label>Book Name: </label>
        <input type="text" name="book-name">
        <label>Publish Date: </label>
        <input type="date" name="due-date">
        <label>Author: </label>
        <select name="author-name" type="text">
          @if (Model["authorList"].Count > 0 )
          {
            @foreach (var author in @Model["authorList"])
            {
              <option value="@author.GetId()">@author.GetAuthor()</option>
            }
          }
        </select>
        <button type="submit">ADD</button>
      </form>
      <hr />
      <h2>Book List</h2>

        @if(Model != null)
        {
          <ul>
            @foreach(var book in Model["bookList"])
            {
              <li><a href="/Librarian/Book/@book.GetId()">@book.GetTitle()</a></li>
              @if(book.GetAuthors() != null)
              {
                <ul>
                  @foreach(var author in book.GetAuthors())
                  {
                    <li>
                      @author.GetAuthor()
                    </li>
                  }
                </ul>
              }
            }
          </ul>
        }
      <h3><a href="/Librarian">Back</a></h3>
    </div>
  </body>
</html>
